/* css styles */
@import url('https://fonts.googleapis.com/css?family=Lora|Work+Sans&display=swap');
body {
    font-family: 'Lora', serif;
    min-width:1024px;
    margin:0px auto;
}

.navbar {
    margin:auto;
    font-family: 'Work Sans', sans-serif;
    background: white;
    color: #222255;
    height:80px;
    border-bottom: 1px solid #222255;
    width: 1000px !important;
    min-width:1000px !important;
    overflow:hidden !important;
    box-shadow: 0px 10px 20px 20px white;
    margin-bottom:30px;
    padding-top:20px;
    background-color: white;
}

main#quarto-document-content {
    margin-left:-50px !important;
    width:900px !important;
    min-width:900px !important;
}

main#quarto-document-content p{
    line-height: 1.6 !important;
}

main#quarto-document-content div.interactive-element{
    text-align:center;
}

main#quarto-document-content div.interactive-element div.caption {
    text-align:center;
    color:grey !important;
    margin:10px;
    font-size:14px !important;
}


.navbar-nav {
    margin-top:28px;
}

header#quarto-header {
    min-width:1000px !important;
}

.navbar .menu-text {
    color: #222255;
    margin-right:5px;
    font-size: 1.1em;
    background:none;
}

.navbar a.nav-link.active .menu-text {
    color:red;
}

.navbar .navbar-container {
    margin:0;
    padding:0;
    height:100px;
}

.navbar img.navbar-logo {
    border:none;
    margin:0;
    padding:0;
    width:400px;
    min-width:400px;
    max-height: 60px;
}

.footer .nav-footer {
    border:none !important;
}
/* Publication css */

.pub {
    margin-left:40px;
    font-size:1em;
}

.pub i.bi {
    margin-left:-40px;
    padding:8px;
}

.pub .pub-title {
    display:inline-block;
    font-weight: bold;
}

.pub author {
    display:block;
    font-size: 0.8em;
}

.pub .published-at {
    display:block;
    font-size: 0.8em;
    color:#666;
}

.pub a{
    display:inline-block;
    font-size: 0.8em;
}